In [1]:
import pandas_datareader as web
import math
import numpy as np
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler

In [2]:
BTC_df = web.DataReader('BTC-USD', data_source='yahoo', start='2015-01-01', end='2020-01-01')

ETH_df = web.DataReader('ETH-USD', data_source='yahoo', start='2015-01-01', end='2020-01-01')

XRP_df = web.DataReader('XRP-USD', data_source='yahoo', start='2015-01-01', end='2020-01-01')

tmp_list = [BTC_df, ETH_df, XRP_df]

In [10]:
data_list = []

for each in tmp_list:

    each['DeltaPrice'] = each['Close'] - each['Open']
    
    maxDeltaPrice = max([abs(each['DeltaPrice'].max()), abs(each['DeltaPrice'].min())])
    
    each['DeltaPriceScaled'] = each['DeltaPrice']/maxDeltaPrice
    
    
    closePriceList = each['Close'].tolist()
    
    std_dev_14 = []
    for i in range(0, len(closePriceList)):
        if (0 <= i <= 13):
            std_dev_14.append(None)
            continue
        temp_list = []
        for j in range(i - 14, i):
            temp_list.append(closePriceList[j])
            
        mean = np.mean(temp_list)
        std_dev = np.std(temp_list)
        obs_val = closePriceList[i]
        z = (obs_val - mean)/std_dev
        
        std_dev_14.append(z)
            
    each['Zscore'] = std_dev_14 
    
    
    sma100 = []
    for i in range(0, len(closePriceList)):
        if (0 <= i <= 99):
            sma100.append(None)
            continue
        temp_list = []
        for j in range(i - 100, i):
            temp_list.append(closePriceList[j])
            
        mean = np.mean(temp_list)
        
        sma100.append(mean)
            
    each['SMA100'] = sma100
    
    
    sma200 = []
    for i in range(0, len(closePriceList)):
        if (0 <= i <= 199):
            sma200.append(None)
            continue
        temp_list = []
        for j in range(i - 200, i):
            temp_list.append(closePriceList[j])
            
        mean = np.mean(temp_list)
        
        sma200.append(mean)
            
    each['SMA200'] = sma200
    
    
    each['Date'] = each.index
    
    id_list = []
    for i in range(0, len(each['Date'].tolist())):
        id_list.append(i)
    
    each['id'] = id_list
    each.set_index('id', drop=True, inplace=True)
    
    each = each.drop(columns=['Open', 'Close', 'DeltaPrice', 'High', 'Low', 'Adj Close'])
    each = each.drop(range(0, 200))
    
    data_list.append(each)

           Volume  DeltaPriceScaled    Zscore       SMA100       SMA200  \
id
200      22711400          0.001509 -0.180510   242.904870   247.008470
201      22930700         -0.000839 -0.528097   243.329160   246.832130
202      19389800          0.000431 -0.496788   243.725960   246.636135
203      18531300         -0.000356 -0.674569   244.252309   246.616835
204      37199400          0.003378  0.494926   244.821210   246.676105
...           ...               ...       ...          ...          ...
1823  22445257702          0.028898  1.070268  8139.955508  9324.885498
1824  22874131672         -0.035028  0.313527  8112.365620  9321.269475
1825  21167946112         -0.027752 -0.319597  8085.098403  9316.579832
1826  18565664997          0.001454 -1.067024  8056.330469  9309.078662
1827  20802083465         -0.059743 -3.333505  8031.038970  9300.887659

           Date
id
200  2015-07-19
201  2015-07-20
202  2015-07-21
203  2015-07-22
204  2015-07-23
...         ...
1823 2019-12-29
1824 2019-12-30
1825 2019-12-31
1826 2020-01-01
1827 2020-01-02

[1628 rows x 6 columns]
          Volume  DeltaPriceScaled    Zscore      SMA100      SMA200  \
id
200     13380600         -0.000413  1.150849    1.773522    1.368340
201     11426500          0.002647  2.028611    1.820320    1.382411
202     21471800         -0.000343  1.473455    1.873395    1.409827
203      9526860         -0.000486  1.185234    1.924363    1.436841
204      8903210          0.001937  1.802052    1.973647    1.462907
...          ...               ...       ...         ...         ...
1605  9708776786          0.027166  1.071533  167.010865  198.066688
1606  9796951716         -0.009053  1.077864  166.177944  197.435961
1607  8936866397         -0.012561  0.151507  165.349117  196.818285
1608  7935230330          0.004902  0.464129  164.529771  196.145902
1609  8032709256         -0.014271 -0.887247  163.818578  195.454815

           Date
id
200  2016-02-23
201  2016-02-24
202  2016-02-25
203  2016-02-26
204  2016-02-27
...         ...
1605 2019-12-29
1606 2019-12-30
1607 2019-12-31
1608 2020-01-01
1609 2020-01-02

[1410 rows x 6 columns]
          Volume  DeltaPriceScaled    Zscore    SMA100    SMA200       Date
id
200       285165         -0.000160 -1.337592  0.008445  0.010912 2015-07-19
201       525732         -0.000265 -1.723998  0.008442  0.010830 2015-07-20
202       367888         -0.000142 -1.868276  0.008433  0.010747 2015-07-21
203       182970         -0.000101 -1.964658  0.008427  0.010674 2015-07-22
204       277406          0.000187 -1.289923  0.008420  0.010617 2015-07-23
...          ...               ...       ...       ...       ...        ...
1823  1176573822          0.004337  0.237462  0.252573  0.290089 2019-12-29
1824  1247499610         -0.002853  0.179432  0.251599  0.289066 2019-12-30
1825  1116761075         -0.001790  0.070380  0.250649  0.288034 2019-12-31
1826  1041134003         -0.000270 -0.278752  0.249789  0.286969 2020-01-01
1827  1085351426         -0.005141 -2.306243  0.249029  0.285880 2020-01-02

[1628 rows x 6 columns]

In [9]:
BTC_full_df = data_list [0]

ETH_full_df = data_list [1]

XRP_full_df = data_list [2]

BTC_full_df

,Volume,DeltaPriceScaled,Zscore,SMA100,SMA200,Date
id,,,,,,
200,22711400,0.001509,-0.180510,242.904870,247.008470,2015-07-19
201,22930700,-0.000839,-0.528097,243.329160,246.832130,2015-07-20
202,19389800,0.000431,-0.496788,243.725960,246.636135,2015-07-21
203,18531300,-0.000356,-0.674569,244.252309,246.616835,2015-07-22
204,37199400,0.003378,0.494926,244.821210,246.676105,2015-07-23
...,...,...,...,...,...,...
1823,22445257702,0.028898,1.070268,8139.955508,9324.885498,2019-12-29
1824,22874131672,-0.035028,0.313527,8112.365620,9321.269475,2019-12-30
1825,21167946112,-0.027752,-0.319597,8085.098403,9316.579832,2019-12-31
1826,18565664997,0.001454,-1.067024,8056.330469,9309.078662,2020-01-01
1827,20802083465,-0.059743,-3.333505,8031.038970,9300.887659,2020-01-02